@model DisynetSoftware.Models.DisynetDataModel

@using (Html.BeginForm("Edit", "EnteryDetailscontroller", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.JobOrder, "Job Order Date", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.JobOrder, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        @Html.ValidationMessageFor(model => model.JobOrder, "", new { @class = "text-danger" })
    </div>
    <!-- Include other fields as necessary -->
    <button type="submit" class="btn btn-primary">Update</button>
}
